.masterBoard {
  display: flex;
  justify-content: center;
}
.colorCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.helpTextStyle {
  position: absolute;
  top: 20px;
  right: 5px;
}
