.signInSection {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signInSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signInButton {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-inline: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #28a745;
  width: 294px;
  height: 44px;
}

.signInButton:disabled {
  opacity: 0.5;
  cursor: default;
}
