.userInputBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 5px;
  background-color: white !important;
  box-shadow: 0px 0px 12px;
}

.colorPoint {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid black 2px;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 3px;
}

.saveButton {
  text-align: center;
  margin-top: 25px;
}
.saveButton button {
  cursor: pointer;
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
}
